<div class="card">
  <div class="card-header">
    <h2 class="mb-0">Lista de Productos</h2>
  </div>
  <div class="card-body">
    <ol id="productList" class="list-group list-group-numbered">
      {{#each products}}
        <li
          id="p-{{this.id}}"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <span><strong>{{this.title}}</strong></span>
          <span class="badge bg-primary">${{this.price}}</span>
        </li>
      {{/each}}
    </ol>
  </div>
</div>